## List comprehension example

In [1]:
customers = ['Susan Winter', 'Marc Summer', 'Kay Autumn', 'Belle Spring']

In [2]:
first_names_loop = []

for customer in customers:
    first_name = customer.split(' ')[0]
    first_names_loop.append(first_name)

In [3]:
first_names = [ customer.split(' ')[0] for customer in customers ]

In [4]:
first_names_loop

['Susan', 'Marc', 'Kay', 'Belle']

In [5]:
first_names

['Susan', 'Marc', 'Kay', 'Belle']

In [6]:
assert first_names == first_names_loop

## Conditional statements

In [7]:
numbers = [1, 2, 4, 7, 8, 9, 12, 14, 15, 17]

In [8]:
even_numbers_loop = []

for number in numbers:
    if number%2 == 0:
        even_numbers_loop.append(number)

In [9]:
even_numbers = [ number for number in numbers if number%2==0 ]
print(even_numbers)

[2, 4, 8, 12, 14]

## Nested list comprehension

In [10]:
numbers = [[3, 4, 1],
           [2, 5, 7],
           [9, 6, 8]]

In [11]:
squared_numbers = []

for number_row in numbers:
    squared_number_row = []
    for number in number_row:
        squared_number = number**2
        squared_number_row.append(squared_number)
    squared_numbers.append(squared_number_row)
    
print(squared_numbers)

[[9, 16, 1], [4, 25, 49], [81, 36, 64]]

In [12]:
squared_numbers = [ [number**2 for number in number_row] for number_row in numbers ]

print(squared_numbers)

[[9, 16, 1], [4, 25, 49], [81, 36, 64]]

## Variable scope

In [13]:
myvar = 'x'

numbers = [1, 2, 4, 7, 8, 9, 12, 14, 15, 17]
even_numbers = [ myvar for myvar in numbers if myvar%2==0 ]

print(myvar)
print(even_numbers)

x
[2, 4, 8, 12, 14]

## Speed

In [14]:
numbers = [[3, 4, 1],
           [2, 5, 7],
           [9, 6, 8]]

In [15]:
%%timeit

squared_numbers = []

for number_row in numbers:
    squared_number_row = []
    for number in number_row:
        squared_number = number**2
        squared_number_row.append(squared_number)
    squared_numbers.append(squared_number_row)

3.09 µs ± 346 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [16]:
%%timeit

squared_numbers = [ [number**2 for number in number_row] for number_row in numbers ]

3.01 µs ± 137 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)